.pop-up-msg {
  display: flex;
  flex-direction: column;
  gap: 24;
  width: 350px;
  /* height: 200px; */
  position: absolute;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.3);
}

.pop-up__btn--close {
  height: 24px;
  width: 24px;
  background-image: url(../../assets/icon/x.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 4px;
  right: 4px;
  filter: none;
}

.pop-up__btn--close:hover {
  background-color: #bbb;
}

.msg__header {
  padding: 24px;
  display: flex;
  justify-content: center;
}

.header__right {
  font-size: 18px;
  font-weight: bold;
}

.msg__content {
  height: 40%;
  padding: 12px 24px;
}

.msg__footer {
  height: 60px;
  padding: 10px 24px;
  height: 30%;
  background-color: rgba(187, 187, 187, 0.712);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.msg__btn--close {
  height: 40px;
  padding: 0px 24px;
  border-radius: 4px;
  border: none;
  margin-right: 16px;
  background-color: transparent;
  opacity: 0.7;
}

.msg__btn--close:hover {
  background-color: #bbb;
}

.msg__btn--delete {
  height: 40px;
  padding: 0px 24px;
  border-radius: 4px;
  border: none;
  margin-right: 8px;
  background-color: red;
  opacity: 0.7;
}

.msg__btn--delete:hover {
  opacity: 1;
}

.pop-up__icon--delete {
  width: 32px;
  height: 32px;
  background-color: #bbb;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.msg__body {
  display: flex;
  padding: 0px 24px 24px 24px;
  align-items: center;
}
