.toast-list {
    position: fixed;
    right: 20px;
    bottom: 20px;
  }
  .toast {
    display: flex;
    height: 40px;
    width: 200px;
    border-radius: 4px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    margin-bottom: 15px;
  }
  
  .toast__icon {
    width: 16px;
    height: 16px;
    color: #019160;
  }
  
  .toast__text {
    font-size: 13px;
  }
  
  .toast__button {
    height: 16px;
    width: 16px;
    background-image: url(../assets/icon/x.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .toast__button:hover {
    background-color: #bbbbbb;
  }
  
  .toast__icon--error {
    background-image: url(../assets/icon/error.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .toast__icon--warning {
    background-image: url(../assets/icon/Warn16.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .toast__icon--success {
    background-image: url(../assets/icon/success-icon.png);
    background-repeat: no-repeat;
    background-position: center;
  }
